/* color */
/* #33EFBB */


*, *:before, *:after{
    box-sizing: border-box;
    margin: 0 0;
    /* padding: 2em; */
    font-family: Montserrat;
}
/* body class in home */
.body {
 padding-top: 4em;
 /* margin: 0 0; */
 overflow: hidden;
 
}
@media screen and (max-width: 640px){
  .header{
    margin: 80em;
  }
}
.services h2{
  color: #33EFBB;
  font-size: large;
}


 .row{
    display: flex;
    align-items: center;
}

.row .col-2{
  z-index: -1;
    box-shadow:  6px 2px 10px  #ccc;
    width: 60vw;
    height: fit-content;
    padding: 2em;
    word-wrap: break-word;
    word-break: break-all;
    
}

.about .row .col-1{
  z-index: 10;
    width: 30vw;
    height: 40vh;
  background: url(../assets/svg/about.svg) center no-repeat;
  background-size:contain;
  
  box-shadow:  -10px 1px 20px  #ccc;
  box-sizing: border-box;
  }
  .services{
    margin-top: 2em;
  }
  .services .row .col-1{
    z-index: 10;
    width: 30vw;
    height: 40vh;
  background: url(../assets/svg/services.svg) center no-repeat;
  background-size:contain;
  
  box-shadow:  -10px 1px 20px  #ccc;
  box-sizing: border-box;
  }

  .services .row-3 .col-1{ 
    background: url(../assets/svg/service-02.svg) center no-repeat;
    width: 30vw;
    height: 40vh;
    background-size:contain;
  }

 
  /* the style for the service page row-2 row 4 col-1  */
  .services .row-2.row-4 .col-1{ 
    background: url(../assets/svg/service-01.svg) right no-repeat;
    background-size: contain;
    width: 30vw;
    height: 40vh;
    /* box-shadow:  0 0 20px  #ccc; */
  }

  /* For Quotes.vue Slot  */
  #quotes{
    padding: 4em;
    /* color: #33EFBB */
    line-height: 1.5em;
  }

  #quotes .title{
    color: #33EFBB;
}
/* container to denote Border */
/* found in the components/container.vue */
.container{
  border: none;
  /* border: 2px solid rgb(0, 0, 0); */
}
.row-2{
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.row-2 .col-2{
  z-index: -2;
  box-shadow:  0 0 20px  #ccc;
  width: 60vw;
  height: fit-content;
  padding: 2em;
  word-wrap: break-word;
  word-break: break-all;
  
}

.services .row-2 .col-1{
  z-index: 10;
  width: 30vw;
  height: 40vh;
  background: url(../assets/svg/app.svg) center no-repeat;
  background-size:contain;

  box-shadow:  6px 0 10px #ccc;
  box-sizing: border-box;
}

#btn a{
  color: rgb(255, 255, 255);
  height: fit-content;
  width:fit-content;
}
#btn{
  background-color:#33efbaa9;
  border: none;
  padding: 0.5em 0.8em;

  border-radius: 1em;
}

 a{
  text-decoration: none;
}
.about a, .services a, .news a{
  color: #33EFBB;
}

.head h2{
  color: aliceblue;
}
#logo{
 margin: 0 auto;
 
}
